*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    width: 100%;
}

/* Header */
header{
    position: fixed;
    top: 0;
    left: 0;
    background-color: aqua;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.leftbox, .rightbox{
    width: 30%;
    background-color: red;    
}

/* Blocco 1 */

main{
    width: 100%;
}

.flexcontainer1{
    display: flex;
    height: 90vh;
    width: 100%;
    justify-content: center;
    background-color: #B4D0E7;
}

.container1{
    margin-top: 150px;
    background-color: bisque;
    max-width: 80%;
    width: 100%;
}

/* Blocco 2 */

.flexcontainer2{
    display: flex;
    justify-content: center;
    background-color: green;
    height: 200vh;
    width: 100%;
}

.container2{
    max-width: 60%;
    width: 100%;
    background-color: white;
}

/* Blocco 3 Large container  */

.bigcontainer{
    background-color: violet;
    width: 100%;
}

.largecontainer{
    background-color: #F5F5F5;
    height: 50vh;
    width: 100%;
}

.largecontainer2{
    background-color: #B4D0E7;
    height: 30vh;
    width: 100%;
}

.largecontainer3{
    background-color: white;
    height: 50vh;
    width: 100%;
}






/* Footer */

footer{
    background-color: black;
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.footercolumn{
    background-color: red;
    height: 20vh;
    width: 15%;
    margin: 10px;
}

